@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 15px;
    z-index: 1;
}

.signInBtn {
    margin-right: 20px;
}

#en {
    margin-right: 20px;
}

main{
    width: 100%;
    background-color: #151515;
    position: relative;
}

footer {
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    text-decoration: none;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: black;
}

.language:hover {
    cursor: pointer;
}

nav {
    display: flex;
    align-items: center;
}

.btn {
      background-color: #4CAF50;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
}

@media (max-width: 850px){
    main .container{
        grid-template-columns: 1fr;
    }
}

@media(max-width: 600px){
    .big-title{
        font-size: 3rem
    }

    .text{
        font-size: .8rem;
    }

    .title{
        font-size: 1.2rem;
    }
}
